:root { 
  --darkBlue: #0E3550;
  --lightBlue: #1C6296;
  --gray: #292F36;
  --lightGray: #D9D9D9;
  --yellow: #ECC644;
  --white: #FFFFFF;
  --background: #F8FAFC;
}

* {
  outline: none !important;
}

html {
  overflow: hidden;
  font-family: "Inter", serif;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  background: var(--background);
}

#content-wrapper {
  flex-direction: row;
  display: flex;
}

.hover-interaction {
  cursor: pointer;
}

/* Header */

#header {
  width: 100vw;
  height: 80px; 
  background: var(--white);
  border-bottom: 1px solid var(--lightGray);
  display: flex;
  justify-content: space-between;
}

#header-title {
  flex-direction: row;
  display: flex;
  align-items: center;
  gap: 30px;
  color: var(--gray);
  font-weight: 600;
  font-size: 24px;
}

#logo {
  padding: 0px 10px;
  height: 60px;
  width: 94px;
}

#header-caption {
  flex-direction: row;
  display: flex;
  align-items: center;
  color: var(--gray);
}

#utilities {
  flex-direction: row;
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 0;
  margin: 0;
}

.utility-content {
  height: 54px;
  align-items: center;
  display: flex;
}

#barrier {
  margin-right: 15px;
}

#profile {
  flex-direction: row;
  display: flex;
  align-items: center;
  padding-right: 15px;
  gap: 12px;
}

#header-menu-fix {
  margin-bottom: -10px;
}

/* Dropdown Content */

#dropdown-container {
  display: flex;
  justify-content: right;
  margin-bottom: 20px;
  padding-right: 30px;
}

#dropdown-container button {
  all: unset; 
  display: inline-block; 
}

.dropdown-gap-fix ul {
  gap: 0 !important;
  height: fit-content;
}

/*Ignore this crappy code lol */

#Dropdown * {
  font-weight: 600;
  font-size: 16px;
  align-content: center;
  flex-direction: row;
  display: flex;
}

#Dropdown li {
  padding: 3px;
}

#Dropdown > * > * > * > * {
  padding: 0px;
  margin-top: 20px;
  min-width: 145px;
  border-radius: 10px;
  box-shadow: 2px 4px 4px 0px var(--lightGray);
  border: 1px solid var(--lightGray);
}

/* Notification List */

#list-item-fix {
  place-items: center;
  border-radius: 5px;
  margin-left: -10px;
}

#list-item-fix > * {
  margin-left: 10px;
}

/* Tooltip */

#tooltip {
  position: absolute;
  padding: 5px;
  border: 1px solid var(--lightGray);
  background-color: var(--white);
  width: 125px;
  max-width: 125px;
  min-height: 90px;
  max-height: 90px;
  overflow-wrap: break-word;
  font-size: 12px;
  border-radius: 5px;
  box-shadow: 2px 4px 4px 0px var(--lightGray);
}

#tooltip-note {
  text-align: center;
  font-weight: 600;
  font-size: 14px;
}

#tooltip-dropdown {
  position: absolute;
  left: -15px;
  top: 38%;
  transform: translateY(-50%);
  transform: rotate(90deg);
  width: 24px;
  height: 24px;
}

/* Scroll Bal */

.scroll-bar {
  height: fit-content;
  overflow: auto;
  margin-top: 10px;
  max-height: 280px;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  border-radius: 8px;
  background-color: var(--white);
  border: 1px solid var(--white);;
}

::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background-color: var(--lightGray);
}

/* Navigation */

.navigation {
  width: 90px;
  height: calc(100vh - 80px); 
  background: var(--white);
  border-right: 1px solid var(--lightGray);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: 0.35s ease-in-out;
}

.navigation.open {
  width: 220px;
}

#notification-title {
  text-align: center;
  padding: 5px;
}

.navigation-icon {
  transition: .1s ease-in-out;
  transform: rotate(-90deg);
  height: 30px;
  width: 30px;
}

.navigation-icon.open {
  transform: rotate(90deg);
}

/* Image and Pointer Content */

#pages {
  display: flex;
  flex-direction: column;
  padding: 15px 0px 0px 10px;
  gap: 15px;
}

.page-line {
  display:flex;
  cursor: pointer;
}

.page-line p {
  font-size: 16px;
  font-weight: 500;
  align-content: center;
  margin-left: 25px;
  overflow: hidden;
}

.img-container {
  background-color: var(--white);
  z-index: 10;
  border-left: 10px solid var(--white);
}