@tailwind base;
@tailwind components;
@tailwind utilities;

.weeklyWrapper {
    margin-top: 10px;
    margin-left: 10px;
    width: 85%;
}
.headerCard {
    text-align: center;
    color: black;
    font-weight: bold;
    margin-bottom: 5px;
}
.tableCard {
    width: 100%;
}
.tableCardHead {
    display: flex;
}
#errorCode {
    color: red;
    font-weight: bold;
}

/* calendar-dropdown Content */
#dropdown-container {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 20px;
    padding-right: 30px;
  }
  
#dropdown-container button {
    all: unset;
}

.dropdown-gap-fix ul {
    gap: 0 !important;
    height: fit-content;
}

/* calendar-dropdown Items */
#calendar-dropdown > *{
    font-size: 16px;
    align-content: center;
    flex-direction: column;
    display: flex;
}

#calendar-dropdown li {
    padding: 3px;
}

#calendar-dropdown > * > * > * > * {
    padding: 0;
    margin-top: 20px;
    min-width: 145px;
    border-radius: 10px;
    box-shadow: 2px 4px 4px 0px var(--light-gray);
    border: 1px solid var(--light-gray);
}

/* Shift Button Styles */

.icon-btn {
    width: 50px;
    height: 50px;
    border: 1px solid #cdcdcd;
    background: white;
    border-radius: 25px;
    overflow: hidden;
    position: relative;
    transition: width 0.2s ease-in-out;
    font-weight: 500;
    font-family: inherit;
}
  
.add-btn:hover {
    width: 120px;   
}

.add-btn::before,
.add-btn::after {
    transition: width 0.2s ease-in-out, border-radius 0.2s ease-in-out;
    content: "";
    position: absolute;
    height: 4px;
    width: 10px;
    top: calc(50% - 2px);
    background: #1C6296;
}

.add-btn::after {
    right: 14px;
    overflow: hidden;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
}

.add-btn::before {
    left: 14px;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
}

.icon-btn:focus {
    outline: none;
}

.btn-txt {
    opacity: 0;
    visibility: hidden;
    transition: opacity .3s ease-in, visibility 0s ease-out;
}

.add-btn:hover .btn-txt {
    opacity: 1;
    visibility: visible;
}

.add-btn:hover::before,
.add-btn:hover::after {
    width: 4px;
    border-radius: 2px;
}

.add-icon::after,
.add-icon::before {
    transition: all 0.2s ease-in-out;
    content: "";
    position: absolute;
    height: 20px;
    width: 2px;
    top: calc(50% - 10px);
    background: #1C6296;
    overflow: hidden;
}

.add-icon::before {
    left: 22px;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
}

.add-icon::after {
    right: 22px;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
}

.add-btn:hover .add-icon::before {
    left: 15px;
    height: 4px;
    top: calc(50% - 2px);
}

.add-btn:hover .add-icon::after {
    right: 15px;
    height: 4px;
    top: calc(50% - 2px);
}